

/*ESTILOS GENERALES*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-image: url(/img/topographicbackground.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 7vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: white;
}

main{
    margin-top: 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ffffffd0;
}

footer{
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
}

p{
    margin-top: 2rem;
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

hr{
    width: 100%;
    margin: 0;
    padding: 0;
    border: .1rem solid #6d6d6d;
}

/*BASICOS*/
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    align-self: center;
    margin: 0;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    align-self: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 1rem 3rem; 
    width: 90%;
    border: .1rem solid #6d6d6d;
}

form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
}

label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem; 
}

.form-control{
    border: none;
    border-radius: 0;
    margin-top: .5rem;
    border-bottom: .1rem solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: #6d6d6d;
    padding: .5rem;
}

.form-control input[type="date"]{
    border-bottom: .1rem solid black;
}

.form-control:hover{
    border: none;
    border-bottom: .2rem solid black;
}

.form-control:focus-visible{
    border:none;
    outline: none;
    border-bottom: .2rem solid black;
}

.form-select{
    border: none;
    border-radius: 0;
    margin-top: .5rem;
    background-color: white;
    border-bottom: .1rem solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6d6d6d;
    font-size: 1.3rem;
    padding: .5rem;
}

.form-select:hover{
    border: none;
    border-bottom: .2rem solid black;
}

.form-select:focus-visible{
    outline: none;
    border-bottom: .2rem solid black;
}

.estilos-botones{
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form button{
    margin-top: 1rem;
    margin-bottom: .5rem;
    width: 60%;
}

button{
    width: 48%;
    padding: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    border: .1rem solid #1b0c1a;
    border-radius: .5rem;
}

button:hover{
    background-color: #b9b9b9;
}

button:active{
    background-color: #f8f8f8;
    font-weight: 500; 
}

/*ERROR*/
.error{
    display: none !important;
    color: #dd270f !important;
    font-size: 13px !important;
    align-self: end !important;
}

.show{
    display: block !important;
}

/*ALTO CONTRASTE*/
/*PALETA COLORES: 
FONDO   |   MAIN   |  FORM   |  CLARO  |  BOTON  |  HOVER  |  ACTIVE
393050  | 1d1929ce |  1d1929 |  white  |  D87D64 |  F4B7AB |  c05a3e
*/

body.high-contrast{
    background-color: #393050;
}

body.high-contrast hr{
    border: .1rem solid white;
}

body.high-contrast header{
    background-color: #1d1929;
    color: white;
}

body.high-contrast footer{
    background-color: #1d1929;
    color: white;
}

body.high-contrast h1{
    color: white;
}

body.high-contrast main{
    background-color: #1d1929ce;
    color: white;
}

body.high-contrast form{
    background-color: #1d1929;
    border: .1rem solid white;
}

body.high-contrast .form-control{
    background-color: #1d1929;
    border-bottom: .1rem solid white;
}

body.high-contrast .form-control::placeholder{
    color: #6d6d6d !important;
}

body.high-contrast .form-control:hover{
    border: none;
    border-bottom: .2rem solid white;
}

body.high-contrast .form-control:focus-visible{
    outline: none;
    border-bottom: .2rem solid white;
}

body.high-contrast .form-control[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

body.high-contrast .form-select{
    background-color: #1d1929;
    border-bottom: .1rem solid white;
}

body.high-contrast .form-select:hover{
    border: none;
    border-bottom: .2rem solid white;
}

body.high-contrast button{
    background-color: #D87D64;
    color: #000000;
    border: .1rem solid #000000;
}

body.high-contrast button:hover{
    background-color: #F4B7AB;
    color: #000000;
    border: .1rem solid #000000;
}

body.high-contrast button:active{
    background-color: #c05a3e;
    color: white;
    font-weight: 400;
}

